body {
    text-align: center;
    background-color:#088F8F;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    margin: 50px;
}

.d-flex {
    margin-bottom: 40px;
}

.weather-container {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.forecast-container {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}

.search-history {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.search-history:hover {
    justify-content: center;
    margin: 50px;
    cursor:grab;
}